body {
	/*background-color: #45B39D ; faded-green*/
	background-color: #1E2531;
	color: #EAECEE;
}
br {
	user-select: none;
}
.container{
	width: 69vw; height: auto;
	/*background-color: orange;*/
	position: absolute; left: 14vw;
}
.btn {
	width: 6vw; height: 5vh;
	outline: none;
	border:none; border-radius: 3px;
	background-color: #24344E;
	color: #EAECEE;
}
.btn:active{
	background-color: #32486D;
}
.right-half {
	width: 50vw; height: auto;
	position: absolute; left: 50vw; top: 0vw;
}
.expense-details-padding {
	background-color: inherit;
	padding: 1em;
	display: inline-flex;
}
.expense-details {
	background-color: #EAEAEA;
	color: #000;
	width: 30vw; min-height: 20vh;
	padding:1em;
}
.actors-involved {
	width: inherit;
	height: auto;
}
.actor-item {
	display: inline-block;
	border: solid 1px #000;
	width:auto; height: 4vh;
    margin-right: 5px;
    zoom: 1;
}
.delete-btn {
	border: none;
	outline: none;
	margin-left: 3px;
}