* {
}

body {
	background-color: #45B39D ;
}

.add-btn{
	outline: none;
}
.expense-details {
	background-color: #FAFAFA;
	width: 30vw; min-height: 20vh;
}
#actors-involved {
	width: inherit;
	height: auto;
}
.actor-item {
	display: inline-block;
	border: solid 1px #000;
	width:auto; height: 4vh;
    margin-right: 5px;
    zoom: 1;
}
.delete-btn {
	border: none;
	outline: none;
	margin-left: 3px;
}