{% load static %}
<html>
<head>
	<title>All Expenses</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{%static 'css/font.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/expense.css' %}">
</head>
<body>
	<h1>List of all your expenses</h1>
</body>
</html>